@media (min-width: 300px) {
  #resSearchBar {
    /*padding: 0px;*/
  }
}

@media (min-width: 992px) {
  #resSearchBar {
    /*padding-left: 390px;*/
  }
}

#Filters-Collumn {
}

#resCol1 {
  padding-right: 45px;
  padding-bottom: 28px;
  padding-left: 61px;
  padding-top: 31px;
  height: 629px;
  width: 591px;
}

